.genericButton{
    padding: 10px 20px;
    margin-left: 5px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 'background-color 0.2s';
    background-color: #4CAF50;
}
.disabled{
background-color:#ccc;
pointer-events: none;
cursor: not-allowed;
}
.buttonActive{
background-color: #ffd700;
color: black;
/* text-decoration: underline; */
}