.displayContainer{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
}
.navigation{
    /* width:20%; */
    height:auto;
}
.routeContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}